<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- dao -->
    <bean id="userDao" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.hesine.manager.dao.UserDao" />
    </bean>

    <!-- service -->
    <bean id="userService" class="com.hesine.manager.service.impl.UserServiceImpl" />


    <context:annotation-config />

</beans>