@charset "utf-8";
 
/* 新建群发 - 选择条件 */
.broadcatCond{float:left; width:950px; display:inline-block; margin-top:25px; height:100px; background:#e8ebf2}
.broadcatCond span{margin-left:20px; display:inline-block; margin-right:20px; width:190px; height:50px; text-align:center; line-height:50px; font-size:14px; font-weight:700}
.broadcatCond span select{ height:30px; width:160px; margin-top:5px}
/* 新建群发 - 内容 */
.broadcatContent{float:left; width:950px; margin-top:25px; min-height:450px; overflow:hidden; border:1px #CCCCCC solid }
.broadcatContent .selectNav{float:left; width:950px;height:50px; border-bottom:1px #CCCCCC solid; display:inline-block;}
.broadcatContent .selectNav span{margin-left:20px; margin-right:20px; margin-top:10px; width:30px; height:32px; display:inline-block; cursor:pointer}
.broadcatContent .selectNav span.textSpan{ background:url(../images/icon_unselect1.png) no-repeat}
.broadcatContent .selectNav span.textSpan.selected{ background:url(../images/icon_select1.png) no-repeat}

.broadcatContent .selectNav span.singlePicSpan{ background:url(../images/icon_unselect3.png) no-repeat}
.broadcatContent .selectNav span.singlePicSpan.selected{ background:url(../images/icon_select3.png) no-repeat}

.broadcatContent .selectNav span.videoSpan{ background:url(../images/icon_unselect4.png) no-repeat}
.broadcatContent .selectNav span.videoSpan.selected{ background:url(../images/icon_select4.png) no-repeat}

.broadcatContent .selectNav span.teletextSpan{ background:url(../images/icon_unselect5.png) no-repeat}
.broadcatContent .selectNav span.teletextSpan.selected{ background:url(../images/icon_select5.png) no-repeat}

.broadcatContent .selectContent{float:left; width:890px;min-height:340px; overflow:hidden; padding:30px}
.broadcatContent .selectContent textarea{width:890px;height:340px; border:none}

/* 非文本内容显示样式*/
.broadcatContent .selectContent .otherContent{width:300px;min-height:340px; overflow:hidden;} 
.broadcatContent .selectContent .title{ padding-left:10px; font-size:14px; height:35px; line-height:43px; font-weight:700; }
.broadcatContent .selectContent .date{ padding-left:10px; font-size:14px; height:30px; width:278px; line-height:26px}
.broadcatContent .selectContent .desc{ margin-left:10px; margin-top:10px; font-size:13px; padding-bottom:10px; line-height:23px}
.broadcatContent .selectContent .item{float:left; width:268px; margin:10px;}
.broadcatContent .selectContent .item .itemTxt{float:left; width:188px; vertical-align:middle; line-height:25px;}
.broadcatContent .selectContent .item .itemImg{float:right; width:80px;}
.broadcatContent .selectContent .item .itemImg img{width:80px}

.broadcatContent .sendRetSuc{position:absolute; left:720px; top:600px; background:url(../images/duihao.png) no-repeat; width:120px; height:50px; padding-left:60px; line-height:50px; color:#999; font-size:22px; font-weight:800; z-index:100 }
.broadcatContent .sendRetFail{position:absolute; left:720px; top:600px; background:url(../images/cha.png) no-repeat; width:120px; height:52px; padding-left:60px; line-height:50px; color:#f00; font-size:22px; font-weight:800; z-index:100 }
.inputNum{float:left; width:950px; margin-top:5px; height:29px; text-align:right;}
.broadcatSend{float:left; width:950px; margin-top:10px; height:49px; text-align:center;}
.broadcatSend img{cursor:pointer}
.broadcatSend .sendBtn{margin-top:3px; margin-left:20px; background:#0166ff; color:#FFF; font-size:20px; font-weight:bold; border:none; width:250px; height:46px; cursor:pointer}

/* 预览弹出框 */
.overlayBG{background-color:#666;position:absolute;z-index:99;left:0;top:0;display:none;width:100%;height:100%;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;}

/* 新建群发 - 选择素材 - 多图文*/
.sourceDialog{margin:0px auto; width:1000px; height:660px; background-color:#FFF; overflow:hidden; display:none;position:absolute;left:50%;z-index:100;}
/*.sourceDialog{ position:absolute; left:100px; top:1100px; width:1000px; background:#FFF; height:590px;} */
.sourceDialog .dialogTitle{ float:left; width:100%; background:#ebecf1; height:50px;}
.sourceDialog .dialogTitle span{height:50px; line-height:50px; color:#333 }
.sourceDialog .dialogTitle span.l{ float:left; margin-left:20px; font-size:18px;}
.sourceDialog .dialogTitle a{float:right; font-size:22px; color:#666;margin-right:15px}
 
.sourceDialog .createBox{float:left;width:100%; height:60px;}
.sourceDialog .createBox ul{float:left; height:31px; margin-top:15px; margin-left:30px; width:auto}
.sourceDialog .createBox li{float:left; width:200px; height:31px; line-height:30px; padding-left:40px;} 
.sourceDialog .createBox li.one{background:url(../images/create_dantuwen.png) no-repeat}
.sourceDialog .createBox li.duo{background:url(../images/create_duotuwen.png) no-repeat}
.sourceDialog .createBox li.video{background:url(../images/create_video.png) no-repeat}

.broadcastSelectDialog{width:820px; margin:15px 0px 20px 170px; height:400px; overflow-y:scroll; overflow-x:hidden;}

/* 选择素材 - 图片 */
.sourceDialog{ background:#FFF}
.sourceDialog .picUpload{float:left; margin-top:25px; position:relative; margin-left:50px; width:auto; font-size:14px; height:30px;}
.sourceDialog .picUpload .uploadBtn{float:left; background-color:#0166ff; color:#FFF; width:100px; height:30px; text-align:center; line-height:30px; border:none; cursor:pointer}
.sourceDialog .picUpload .uploadTxt{float:left; margin-left:24px; color:#999; line-height:30px;}

.sourceDialog .picList{float:left; width:990px; margin:25px 0px 20px 0px; height:400px; overflow-y:scroll; overflow-x:hidden;}
.sourceDialog .picList ul{float:left; margin-left:30px; width:100%;}
 
.sourceDialog .picList li{float:left;border-top:1px #CCCCCC solid;width:870px; line-height:30px; padding:20px; display:block}
.sourceDialog .picList li span{float:left; font-size:14px; color:#666; }
.sourceDialog .picList li i{float:left; font-size:14px; color:#666; }
.sourceDialog .picList li i.check{ width:35px; margin-top:5px;  background:url(../images/check.png) no-repeat; cursor:pointer}
.sourceDialog .picList li i.uncheck{ width:35px; margin-top:5px;  background:url(../images/uncheck.png) no-repeat; cursor:pointer}
.sourceDialog .picList li span.filename{width:680px}
.sourceDialog .picList li span.size{width:80px; font-size:14px; color:#a9aaad}
.sourceDialog .picList li span.week{width:60px; font-size:14px; color:#a9aaad}

.sourceDialog .picList li span img{ max-width:150px}

.sourceDialog .btnGroup{ float:left; width:100%; background:#ebecf1; height:50px; padding-top:15px;}
.sourceDialog .btnGroup .btnSubmit{ float:left; margin-left:300px; height:30px; cursor:pointer; background:#0166ff; width:160px; height:35px; color:#FFF; text-align:center; line-height:35px; }
.sourceDialog .btnGroup .btnCancel{ float:left; margin-left:100px; height:30px; cursor:pointer; background:#cccccc; width:160px; height:35px; color:#000; text-align:center; line-height:35px;}
 
/* 群发 - 已发送 */
.sendlist{float:left; width:950px; margin-top:25px; overflow:hidden}
.sendlist .canView{cursor:pointer}
.sendlist table{border:1px #CCCCCC solid; width:100%; font-size:12px; margin-bottom:30px; }
.sendlist tr.on{ background:#f8f9fd}
.sendlist td{padding:20px; vertical-align:top}
.sendlist td.r1{width:450px}
.sendlist td.r2{width:100px; line-height:24px}
.sendlist .video{ float:left; width:400px;}
.sendlist .video .videoCon{ float:left; width:200px; border:1px #ccc solid}
.sendlist .video .videoCon .title{ padding-left:10px; font-size:14px; height:30px; line-height:33px;}
.sendlist .video .videoCon .date{ padding-left:10px; font-size:12px; height:30px; width:278px; line-height:26px}
.sendlist .video .videoCon .desc{ margin-left:10px; margin-top:10px; font-size:13px; padding-bottom:10px; line-height:23px}
.sendlist .video .videoType{ float:left; width:90px; text-align:center; margin-top:8px; font-size:13px}
.sendlist .msg{ float:left; width:440px;}
.sendlist .msg .pic{ float:left; width:170px;}
.sendlist .msg .pic img{width:139px}
.sendlist .msg .txt{ float:left; width:270px; text-align:left;font-size:13px; line-height:23px}
 
